.badge {
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  font-weight: 600;
  color: white;
}

.badge-sm {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
